@namespace Ray.BiliTool.Blazor.Web.Pages.Configs.UnfollowBatched
@page "/Configs/UnfollowBatched"


@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel
@using System.Reflection
@using System.Threading
@using Hangfire
@using Ray.BiliBiliTool.Application.Contracts
@using Ray.BiliBiliTool.Config;

<Form Model="@_unfollowBatchedTaskModel"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      LabelColSpan="8"
      WrapperColSpan="8">
    <FormItem Label="定时运行">
        <Input @bind-Value="@context.Cron" />
    </FormItem>
    <FormItem Label="分组名称">
        <Input @bind-Value="@context.GroupName"/>
    </FormItem>
    <FormItem Label="取关数量">
        <Input @bind-Value="@context.Count"/>
    </FormItem>
    <FormItem Label="UP白名单">
        <Input @bind-Value="@context.RetainUids"/>
    </FormItem>
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Submit
        </Button>
    </FormItem>
</Form>
@code
{
    [Inject]
    protected IDbConfigService DbConfigService { get; set; }
    [Inject]
    protected ModalService ModalService { get; set; }

    private UnfollowBatchedTaskConfigModel _unfollowBatchedTaskModel;
    private const string ConfigPrefix = "UnfollowBatchedTaskConfig:";

    protected override async Task OnInitializedAsync()
    {
        var keyList = new List<string>()
        {
            nameof(UnfollowBatchedTaskConfigModel.Cron),
            nameof(UnfollowBatchedTaskConfigModel.GroupName),
            nameof(UnfollowBatchedTaskConfigModel.Count),
            nameof(UnfollowBatchedTaskConfigModel.RetainUids),
        };
        keyList = keyList.Select(x => ConfigPrefix + x).ToList();
        var configs = await DbConfigService.GetConfigsByConfigurationAsync(keyList);

        _unfollowBatchedTaskModel = new UnfollowBatchedTaskConfigModel
            {
                Cron = configs[ConfigPrefix + nameof(UnfollowBatchedTaskConfigModel.Cron)] ?? "",
                GroupName = configs[ConfigPrefix + nameof(UnfollowBatchedTaskConfigModel.GroupName)] ?? "",
                Count = int.Parse(configs[ConfigPrefix + nameof(UnfollowBatchedTaskConfigModel.Count)]),
                RetainUids = configs[ConfigPrefix + nameof(UnfollowBatchedTaskConfigModel.RetainUids)] ?? ""
            };

        await base.OnInitializedAsync();
    }

    private async Task OnFinish(EditContext editContext)
    {
        var dic = new Dictionary<string, string>()
        {
            {nameof(UnfollowBatchedTaskConfigModel.Cron), _unfollowBatchedTaskModel.Cron},
            {nameof(UnfollowBatchedTaskConfigModel.GroupName), _unfollowBatchedTaskModel.GroupName},
            {nameof(UnfollowBatchedTaskConfigModel.Count), _unfollowBatchedTaskModel.Count.ToString()},
            {nameof(UnfollowBatchedTaskConfigModel.RetainUids), _unfollowBatchedTaskModel.RetainUids},
        };
        dic = dic.ToDictionary(kv => ConfigPrefix + kv.Key, kv => kv.Value);
        await DbConfigService.AddOrUpdateConfigsAsync(dic);

        string code = typeof(IUnfollowBatchedTaskAppService).GetCustomAttribute<DescriptionAttribute>()?.Description;
        RecurringJob.AddOrUpdate<IUnfollowBatchedTaskAppService>(code,
            x => x.DoTaskAsync(new CancellationToken()),
            () => _unfollowBatchedTaskModel.Cron);

        ModalService.Success(new ConfirmOptions()
            {
                Content = "保存成功！"
            });
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(_unfollowBatchedTaskModel)}");

        ModalService.Error(new ConfirmOptions()
            {
                Title = "保存失败",
                Content = editContext.ToJsonStr()
            });
    }
}
